.newsletter {
    padding: 100px 0 246px;
}
.newsletter-content {
    background: url(../../img/newsletter/newsletter-img.jpg) center center / cover no-repeat;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 336px 133px 178px;
    position: relative;
}
.newsletter__text {
    color: var(--white-color);
    max-width: 370px;
}
.newsletter__title {
    color: var(--white-color);
    margin-bottom: 40px;
}
.newsletter_descr {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}



.newsletter__form {
    position: absolute;
    right: 133px;
    bottom: -96px;
}
.subscribe-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 501px;
	height: 416px;
    border-radius: 8px;
    padding-top: 53px;
    transition: all 0.5s ease 0s;
}
.subscribe-form__field {
    width: calc(100% - (72px * 2));
    border: none;
	border-bottom: 1px solid rgba(28, 46, 61, 0.3);
    padding: 25px 0px;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 2px;
	color: var(--dark-color);
	text-transform: uppercase;
    transition: border-bottom 0.3s ease 0s;
}
.subscribe-form__field:focus {
    border-bottom: 1px solid rgba(28, 46, 61, 1);
}
input {
    outline: none;
}
.subscribe-form__btn {
    margin-top: 75px;
    width: 100%;
    background: var(--neptune-color);
    padding: 41px 80px;
    border-radius: 0 0 8px 8px;
    transition: all 0.5s ease 0s;
}
.subscribe-form__btn:hover {
    background: #6cc3d3;
}